/* input {
   box-sizing: border-box;
   border-bottom: 1px solid #e5e7eb;
   outline: none;
   padding: 6px 4px;
   width: 100%;
}

input:focus {
   border-bottom: 1px solid #06b6d4;
}

input::placeholder {
   font-style: italic;
   font-weight: 300;
} */
